html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
}

button{
    cursor: pointer;
    outline:none;
    font-weight: 300;
    background-color: #1dce94;
    border: none;
    border-radius: 500px;
    color: white;
    padding:0.5rem 1rem;
    transition: all 0.3s;

    &:hover{
        color: #1dce94;
        background-color: white;
    }

    &:active{
        background-color: #cbcbcb;
    }
}

.parser__container{
    width: 100%;
    min-height: 100vh;
    background: #eee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.parser__box{
    width: 50%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.parser__box:nth-child(1){
    border-right: 1px solid #1dce94; 
}
.parser__box:nth-child(2){
    border-left: 1px solid #1dce94; 
}

.parser__input{
    background: #fff;
    min-height: 100vh;
    width: 100%;
    resize: vertical;
}

.btn__run{
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    background: #f00;
    color: #eee;
    text-align: center;
    font-weight: bold;
    border: 1px solid #f00;
}

.box__output{
    overflow-x: scroll;
    overflow-y: scroll;

}